@import "../../styles/variables/colors";

.main {
    height: 100px;
    width: 275px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 0;
    padding-left: 10px;
}

.title {
    height: auto;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}






.count {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
}