@import "../../../styles/variables/mixins";

.performance {
    background-color: rgb(215, 209, 209);

    height: 250px;
    width: 400px;
    @include absCenter;
    @include popupShadow;
    border-radius: 10px;
}


.header {
    height: 50px;
    width: 100%;
    background-color: black;
    border-radius: 3px white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: white;
}

.close {
    color: black;
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    align-items: center;
}

.main {
    height: 100px;
    width: 100%;
    background-color: rgb(215, 209, 209);
}