$colorTextPrimary: #1c1c1c;
$colorTextSecondary: #fff;
$colorTextComponent: #4B5769;
$colorBackgroundPrimary: #F0F2F2;
$colorBackgroundSecondary: #2A3342;
$colorBackgroundWhite: #FFFF;
$colorActiveTab: #44B7C0;
$colorHoverTab: #4B5769;