$colorTextPrimary: #1c1c1c;
$colorTextSecondary: #fff;
$colorTextComponent: #4b5769;

$colorBackgroundPrimary: #f0f2f2;
$colorBackgroundSecondary: #2a3342;
$colorBackgroundWhite: #ffff;
$colorActiveTab: #64e5ef;
$colorHoverTab: #4b5769;
