@import "../../styles/variables/colors";

/* Sidebar icons */
.sideBar {
  padding: 10px 5px;
  width: 20%;
  flex-shrink: 0;
  background-color: $colorBackgroundPrimary;
  display: flex;
  flex-direction: column;
  color: $colorTextSecondary;
  overflow: hidden;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.sails {
  height: auto;
  display: flex;
  justify-content: center;
  font-size: 35px;
}

.Sidebardata {
  height: auto;
  margin-top: 20px;
}

.Sidebardata .row {
  height: 50px;
  padding-left: 10px;
  list-style-type: none;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.Sidebardata .row:hover {
  cursor: pointer;
  background-color: $colorBackgroundSecondary;
  color: $colorTextPrimary;
}

.Sidebardata #active {
  background-color: $colorBackgroundSecondary;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
}

/* Setting icons */
.Setting {
  height: auto;
  padding: 0;
  margin-top: auto;
}

.Setting .row-s {
  height: 50px;
  padding-left: 10px;
  list-style-type: none;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.Setting .row-s:hover {
  cursor: pointer;
  background-color: $colorBackgroundSecondary;
  color: $colorTextPrimary;
}

.Setting #active {
  background-color: $colorBackgroundSecondary;
  color: $colorTextSecondary;
}

.row-s #icon-s {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row-s #title-s {
  flex: 70%;
}
