@import "/src/styles/variables/mixins";

.main {
    padding-left: 20px;
    width: 100%;
}

.title {
    font-size: 45px;
    padding-bottom: 30px;
}

input {
    width: 100%;
}

.buttonDiv {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.submit {
    margin: 30px;
    @include button;

}

.cancel {

    margin: 30px;
    @include button;
}